[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
numpy = "*"
torch = "*"
datasets = "*"
transformers = "*"
sklearn = "*"
scikit-learn = "*"
sentencepiece = "*"
protobuf = "==3.20"
eleuther-elk = {editable = true, path = "./../elk"}
transformer-lens = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
