Q: {{question}} The correct answer to that question will be {%- if is_disjunction %} "{{answers[0]}}" or "{{answers[1]}}" {%- else %} both "{{answers[0]}}" and "{{answers[1]}}" {%- endif -%}, true or false?

A: {{label}}