Consider this question: {{question}} 
The answer to that question will be 
{%- if is_disjunction %} either "{{a_A}}" or "{{a_B}}"
{%- else %} both "{{a_A}}" and "{{a_B}}"
{%- endif -%}, true or false? {{label}}